body {
  font-family: sans-serif;
  background-image: url("./img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.type {
  display: inline
}